@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


/* baseline style */
body {
    line-height: 1.6;
    font-family: 'lato', sans-serif;
    color: #333;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 700;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px, 0;
}

img {
    width: 100%;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

/* header */
.header {
    background-color: #FF0081;
    overflow: visible;
}

.header h1 {
    margin: 0;
    padding: 25px;
    color: #fff;
}

/* input-box */
.input-box {
    margin: 25px 0;
    font-weight: 700;


}

.courseName,
.obtainedGrade,
.earnedCredit {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 80%;
    margin: auto;


}

input,
select {
    padding: 12px 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
}



label {
    margin-bottom: 10px;
}


/* utilities */
.container {
    max-width: 560px;
    margin: 0 auto;
    padding: 0 40px;
}

.text-center {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    background: #FF0081;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid #FF0081;
    color: #FF0081;
}

.btn:hover {
    transform: scale(0.98);
}